.c-button
{
  display: inline-block;

  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  padding: var(--spacer);

  font-size: 20px;

  cursor: pointer;
  transition: filter 0.25s ease;
}

.c-button:hover
{
  filter: brightness(75%);
}

.c-button--small
{
  padding: var(--spacer-sm);

  font-size: 16px;
}

.c-button--primary
{
  background-color: var(--color-primary);

  color: var(--color-light);
}
