.c-tag
{
  border-radius: 17px;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  padding: var(--spacer-sm);

  font-size: 14px;

  transition: all 0.25s ease-in-out;
}

.c-tag--primary
{
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.c-tag--primary:hover,
.c-tag--primary.c-tag--active
{
  background-color: var(--color-primary);

  color: var(--color-light);
}

button.c-tag
{
  cursor: pointer;
}
