.c-tip
{
  position: fixed;
  left: var(--spacer);
  bottom: var(--spacer);

  border-radius: var(--border-radius);
  background-color: var(--color-light);
  padding: var(--spacer);

  color: var(--color-dark);
}
