.u-m--none,
.u-ml--none,
.u-mx--none
{
  margin-left: 0;
}

.u-m--none,
.u-mr--none,
.u-mx--none
{
  margin-right: 0;
}

.u-m--none,
.u-mt--none,
.u-my--none
{
  margin-top: 0;
}

.u-m--none,
.u-mb--none,
.u-my--none
{
  margin-bottom: 0;
}

.u-p--none,
.u-pl--none,
.u-px--none
{
  padding-left: 0;
}

.u-p--none,
.u-pr--none,
.u-px--none
{
  padding-right: 0;
}

.u-p--none,
.u-pt--none,
.u-py--none
{
  padding-top: 0;
}

.u-p--none,
.u-pb--none,
.u-py--none
{
  padding-bottom: 0;
}

.u-m--xs,
.u-ml--xs,
.u-mx--xs
{
  margin-left: var(--spacer-xs);
}

.u-m--xs,
.u-mr--xs,
.u-mx--xs
{
  margin-right: var(--spacer-xs);
}

.u-m--xs,
.u-mt--xs,
.u-my--xs
{
  margin-top: var(--spacer-xs);
}

.u-m--xs,
.u-mb--xs,
.u-my--xs
{
  margin-bottom: var(--spacer-xs);
}

.u-p--xs,
.u-pl--xs,
.u-px--xs
{
  padding-left: var(--spacer-xs);
}

.u-p--xs,
.u-pr--xs,
.u-px--xs
{
  padding-right: var(--spacer-xs);
}

.u-p--xs,
.u-pt--xs,
.u-py--xs
{
  padding-top: var(--spacer-xs);
}

.u-p--xs,
.u-pb--xs,
.u-py--xs
{
  padding-bottom: var(--spacer-xs);
}

.u-m--sm,
.u-ml--sm,
.u-mx--sm
{
  margin-left: var(--spacer-sm);
}

.u-m--sm,
.u-mr--sm,
.u-mx--sm
{
  margin-right: var(--spacer-sm);
}

.u-m--sm,
.u-mt--sm,
.u-my--sm
{
  margin-top: var(--spacer-sm);
}

.u-m--sm,
.u-mb--sm,
.u-my--sm
{
  margin-bottom: var(--spacer-sm);
}

.u-p--sm,
.u-pl--sm,
.u-px--sm
{
  padding-left: var(--spacer-sm);
}

.u-p--sm,
.u-pr--sm,
.u-px--sm
{
  padding-right: var(--spacer-sm);
}

.u-p--sm,
.u-pt--sm,
.u-py--sm
{
  padding-top: var(--spacer-sm);
}

.u-p--sm,
.u-pb--sm,
.u-py--sm
{
  padding-bottom: var(--spacer-sm);
}

.u-m,
.u-ml,
.u-mx
{
  margin-left: var(--spacer);
}

.u-m,
.u-mr,
.u-mx
{
  margin-right: var(--spacer);
}

.u-m,
.u-mt,
.u-my
{
  margin-top: var(--spacer);
}

.u-m,
.u-mb,
.u-my
{
  margin-bottom: var(--spacer);
}

.u-p,
.u-pl,
.u-px
{
  padding-left: var(--spacer);
}

.u-p,
.u-pr,
.u-px
{
  padding-right: var(--spacer);
}

.u-p,
.u-pt,
.u-py
{
  padding-top: var(--spacer);
}

.u-p,
.u-pb,
.u-py
{
  padding-bottom: var(--spacer);
}

.u-m--lg,
.u-ml--lg,
.u-mx--lg
{
  margin-left: var(--spacer-lg);
}

.u-m--lg,
.u-mr--lg,
.u-mx--lg
{
  margin-right: var(--spacer-lg);
}

.u-m--lg,
.u-mt--lg,
.u-my--lg
{
  margin-top: var(--spacer-lg);
}

.u-m--lg,
.u-mb--lg,
.u-my--lg
{
  margin-bottom: var(--spacer-lg);
}

.u-p--lg,
.u-pl--lg,
.u-px--lg
{
  padding-left: var(--spacer-lg);
}

.u-p--lg,
.u-pr--lg,
.u-px--lg
{
  padding-right: var(--spacer-lg);
}

.u-p--lg,
.u-pt--lg,
.u-py--lg
{
  padding-top: var(--spacer-lg);
}

.u-p--lg,
.u-pb--lg,
.u-py--lg
{
  padding-bottom: var(--spacer-lg);
}
