h1
{
  margin: var(--spacer-lg) 0;

  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

h2,
h3,
h4,
h5
{
  margin: var(--spacer) 0;

  text-align: center;
  line-height: 1.2;
  font-family: PT Serif, serif;
  font-weight: 700;
}

h2,
h3
{
  font-size: 28px;
}

h4
{
  font-size: 24px;
}

h5
{
  font-size: 20px;
}
